<mat-toolbar class="toolbar">
  <div>
    <button mat-icon-button class="logo">
      <mat-icon>house</mat-icon>
    </button>
  </div>

  <span class="fill-space"></span>

  <div>
    <span class="title_label">Hotel reservations</span>
  </div>


</mat-toolbar>

<div class="containerBody">
  <!-- New Register-->
  <div class="container_new_register">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create Reservation</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="form_new_reservation" [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" />

            <mat-error *ngIf="form.controls.name.errors">
              Enter a name
            </mat-error>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Room Number</mat-label>
            <input appAllownumbersonly type="text" matInput formControlName="roomNumber" />

            <mat-error *ngIf="form.controls.roomNumber.errors">
              Enter a room number
            </mat-error>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Select booking dates</mat-label>
            <mat-date-range-input [rangePicker]="picker" [min]="minDate">
              <input matStartDate placeholder="Start date" formControlName="startDate" readonly>
              <input matEndDate placeholder="End date" formControlName="endDate" readonly>
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker" color="accent"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </form>


        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <span class="fill-space"></span>
        <button type="submit" mat-button (click)="onSubmit()">Submit</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <!-- END New Register-->

  <!--Table with data-->
  <div class="container_data">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reservations</mat-card-title>
      </mat-card-header>

      <mat-card-content>



        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">



            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.clientFullName}} </td>
            </ng-container>


            <ng-container matColumnDef="roomNumber">
              <th mat-header-cell *matHeaderCellDef> Room Number </th>
              <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
            </ng-container>


            <ng-container matColumnDef="reservationDates">
              <th mat-header-cell *matHeaderCellDef> Reservation Dates </th>
              <td mat-cell *matCellDef="let element">
                <span *ngFor="let item of element.reservationDates; let i = index">


                  <div *ngIf="i==0; else elseTemplate">
                    <span class="start_date">{{item | date:'mediumDate'}}</span>
                  </div>

                  <ng-template #elseTemplate>
                    <span class="end_date">{{item | date:'mediumDate'}} </span>
                  </ng-template>

                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Click to Edit" (click)="edit(element)" class="iconbutton"
                  color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>




        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>
  <!--END Table with data-->

</div>

<footer>
  <span>- By Edwin Dennis - </span>
</footer>
<router-outlet></router-outlet>